.Main {
    display: grid;
    grid-template-rows: auto 50px;
    height: 100%;
    
    & > section[class~=content] {
        background-color: #fff;
        padding: 15px 25px;
    }

    div[class~=MuiPaper-root] {
        margin: 0 auto;
        width: 100%;
    }

    div[class~=MuiMobileStepper-root] {
        height: 50px;
    }
}