@use 'assets/style/mixins.scss';
@mixin column-flex {
    display: flex;
    flex-direction: column;
    gap: 15px;

    div[class~=flex],
    section[class~=flex]{
        @include mixins.flex-container;
    }
}