*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

*:not([class^="ti-"]) {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

button,
input[type=submit] {
    cursor: pointer;
}

input {
    filter: none;
}

p {
    line-height: 24px;
    font-size: 14px;
}

ol {
    padding-left: 20px;
}

ul {
    list-style: none;
}

/* width */
::-webkit-scrollbar {
    display: initial;
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Scrollbar */
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #9E9E9E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #757575;
}

/* firefox */
* {
    scrollbar-color: #bdbdbd transparent;
    scrollbar-width: thin;
}