.Main {
    width: 100%;

    & > section[class~=content] {
        margin-top: 30px;
        overflow: hidden;
        position: relative;
    }

    & > section[class~=navigation] {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
}