.Main {
    width: 100%;

    & > section[class~=content] {
        margin-top: 10px;
        min-height: 202px;
        overflow-x: hidden;
        overflow-y: initial;
        position: relative;
    }

    & > section[class~=navigation] {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
}