.Main {
    width: 100%;

    & > section[class~=content] {
        padding: 10px 0;
        margin: 20px 0;
        overflow: hidden;
        position: relative;
    }

    & > section[class~=navigation] {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}