.Main {
    height: inherit;
    overflow: auto;
    
    div[class~=cards--grid] {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, 280px);
        padding: 20px;
    }
}