.Main {
    height: 100%;
    
    section[class~=overview] {
        align-items: center;
        display: flex;
        justify-content: space-between;

        div[class~=data] {
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 200px;
            min-width: 360px;
            padding: 30px;

            div[class~=row] {
                display: flex;
                font-size: 14px;
                justify-content: space-between;
                div[class~=key] {
                    color: #424242;
                }
    
                div[class~=value] {
                    font-weight: 500;
                }
            }
        }
    }
}