.Main {
    height: 100%;
    
    section[class~=overview] {
        align-items: center;
        display: flex;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-direction: column;
            gap: 10px;
        }

        div[class~=data] {
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 170px;
            min-width: 360px;
            padding: 30px;

            @media (max-width: 767px) {
                min-width: 100%;
                padding: 30px 10px;
            }

            div[class~=row] {
                display: flex;
                font-size: 14px;
                justify-content: space-between;
                div[class~=key] {
                    color: #424242;
                }
    
                div[class~=value] {
                    font-weight: 700;
                }
            }
        }
    }

    div[class~=notice] {
        color: #424242;
        font-size: 18px;
        font-weight: 600;
        margin-top: 30px;
    }

    section[class~=table] {
        padding-top: 20px;
    }
}