@use 'assets/style/mixins.scss';
.Main {
    height: inherit;
    & > section[class~=content] {
        @include mixins.with-sidebar;
    }
    section[class~=video] {
        padding: var(--default-padding);
        margin-top: 10px;
    }
}