.Main {
    background-color: #fff;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: grid;
    grid-template-rows: 180px auto auto;
    min-height: 0;
    transition: box-shadow 230ms ease-in-out;

    &:hover {
        box-shadow: var(--shadow-type-four);
    }

    div[class~=image--container] {
        img {
            width: 100%;
            height: 180px;
        }
    }

    & > section[class~=content] {
        color: #424242;
        min-height: 130px;
        min-height: 0;
        padding: 16px;

        div[class~=title] {
            color: #000000;
            font-size: 15px;
            font-weight: 500;
            min-height: 38px;
        }

        div[class~=description] {
            color: rgba(0, 0, 0, 0.7);
            font-size: 14px;
            line-height: 1.43;
            margin-top: 15px;
        }
    }

    & > section[class~=module] {
        align-items: center;
        color: rgba(0, 0, 0, 0.6);
        display: flex;
        font-size: 15px;
        justify-content: space-between;
        padding: 0 16px 16px 16px;
    }
}